.slider-dots {
  position: absolute;
  bottom: -25px;
  cursor: auto;
  display: block;
  list-style: none;
  text-align: center;
  width: 100%;
}

.slider-dots li {
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 5px;
  overflow: hidden;
  position: relative;
}

.slider-dots li button {
  border: 0;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 8px;
  width: 8px;
  line-height: 0;
  outline: none;
  padding: 5px;
}

.slider-dots li button:hover,
.slider-dots li button:focus {
  outline: none;
}

.slider-dots li button:hover:before,
.slider-dots li button:focus:before {
  opacity: 1;
}

.slider-dots li button:before {
  content: '';
  font-size: 6px;
  height: 8px;
  width: 8px;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 8px;
  text-align: center;
}

.slider-dots li.slick-active button:before {
  background-color: grey;
}
